@light-gray: #f7f9fd;
@mid-gray: #808d99;
@dark: #00252e;
@pink: #ff52bf;
@violet: #9a52ff;


@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

h1,h2,h3,h4,h5 {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: @light-gray;
  font-family: "Open Sans", sans-serif;
  font-size: 1.15rem;
  width: 100%;
  min-height: 100vh;
}
.bg-container {
  position: absolute;
  z-index: 1;
  width: 100%;
  min-height: 150%;
  div {
    position: absolute;
    border-radius: 7%;
    overflow: hidden;
    &.colored-bg {
      transform: rotate(55deg);
      height: 110%;
      width: 90%;
      top: -55%;
      left: 40%;
      @media only screen and (max-width: 900px) {
        height: 100%;
        width: 90%;
        top: -50%;
        left: 40%;
      }
      background-color: @violet;
      z-index: 3;
      -webkit-animation: teeter 10s infinite linear;
      background-image: linear-gradient(to bottom, @pink, @violet);
      box-shadow: -50px -10px 30px -50px @mid-gray;
    }

    &.white-bg {
      height: 100%;
      width: 80%;
      top: 0%;
      left: 15%;
      @media only screen and (max-width: 900px) {
        height: 100%;
        width: 110%;
        top: -10%;
      }
      max-width: 900px;
      background-color: white;
      transform: rotate(80deg);
      z-index: 2;
      //-webkit-animation: teeter 10s infinite linear;
      box-shadow: 50px 35px 30px -50px @mid-gray;
    }
  }
}
.container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

header {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width:1440px;
  margin: auto;
  nav {
    display: flex;
    flex-direction: row;
    height: 150px;
    align-items: center;
    .item {
      width: 50%;
      &.left {
        text-align: left;
        padding-left: 5%;
        img {
          height: 30px;
        }
      }
      &.right {
        text-align: right;
        padding-right: 5%;
        a {
          background-color: white;
          color: black;
          padding: 1em 1.5em;
          height: 30px;
          text-decoration: none;
          text-transform: uppercase;
          box-shadow: 0px 0px 15px -5px @dark;
        }
      }
    }
  }
}

main {
  z-index: 10;
  position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  &.half {
    max-width:1100px;
    flex-direction: column;
  }
  &.full {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
  }
}
section.pitches {
  display: flex;
  flex-direction: row;
  @media only screen and (max-width: 900px) {
    flex-direction: column;
  }
  margin-top: 20%;
  justify-content: center;
  section.pitch-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    img {
      width: 80%;
      @media only screen and (max-width: 900px) {
        width: 70%;
        padding-bottom: 50px;
      }
    }
  }
  section.pitch-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 40%;
    article {
      width: 90%;
      @media only screen and (max-width: 900px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
      }
      h3 {
        margin-bottom: 0px;
      }
      p {
        margin-top: 0px;
        line-height: 2rem;
      }
    }
  }
}

section.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .hero-img {
    width: 75%;
  }
  .hero-text {
    width: 75%;
    h2 {
      font-size: 1.5rem;
    }
    text-align: center;
    padding: 5rem 0;
    p {
      line-height: 2rem;
      padding-bottom: 1.5rem;
    }
    a {
      background-color: @pink;
      color: white;
      padding: 1em 1.5em;
      height: 30px;
      text-decoration: none;
      text-transform: uppercase;
      box-shadow: 0px 0px 10px -2px @pink;
    }
  }
}

@-webkit-keyframes teeter {
  0% {
      -webkit-transform: rotate(-45deg);
  }
  33% {
      -webkit-transform: rotate(-47deg);
  }
  66% {
      -webkit-transform: rotate(-43deg);
  }
  100% {
    -webkit-transform: rotate(-45deg);
  }
}
